<div class="fullPage" >
	<div class="header" >
		<%= link_to image_tag('/assets/bookLogo.jpg'), '/librarians/index' , :class=>'logo' %>

		<center>
			<h1 > LIBRARY MANAGEMENT SYSTEM</h1>
			<p> A platform to search your favorite book </p>
		</center>
		<div class="tab">
			<div class="contents">
				Welcome, <%= current_admin.name %>  <font color="black">(<%= current_admin.role.upcase %>)</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


				<%= link_to 'LogOut', destroy_user_session_path, method: :delete %>
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>

		</div>

	</div>


	<div class="librarianContainer" >
		<center>
			<h1 style="color: #000; background-color: rgba(230, 0, 0,0.5); height: 40px;"> Return Book Requests </h1>
			<div class="returnBookTabs">
				<a class= "returnBookTabAnchor" href='/librarians/requests/returnBook/all' >
					<div class="returnBookTab">
						All Requests
					</div>
				</a>
				<a class= "returnBookTabAnchor" href='/librarians/requests/returnBook/pending' >
					<div class="returnBookTabActive">
						Pending Requests
					</div>
				</a>
				<a class= "returnBookTabAnchor" href='/librarians/requests/returnBook/approved'>
					<div class="returnBookTab">
						Approved Requests
					</div>
				</a>
				<a class= "returnBookTabAnchor" href='/librarians/requests/returnBook/rejected'>
					<div class="returnBookTab">
						Rejected Requests
					</div>
				</a>
			</div>

			<br><br>

			<div class= "returnBookBox"> 
				<% if @returnRequests.empty? %>
					<br><br><br>
					<h1> No Requests for lending Books </h1>
				<% else %>
					<table>
							<tr>
								<th id="t1"> S.No. </th>
								<th id="t2"> Book </th>
								<th id="t3"> User </th>
								<th id="t4"> Available <br> Books </th>
								<th id="t5"> Status </th>
								<th id="t6"> Action </th>
							</tr>
						<% i=1 %>
						<% @returnRequests.each do |request| %>
							<% book = @books.find(request.book_id) %>
							<tr>
								<td> <%= i %> <% i+=1 %> </td>
								<td> <%= book.title %> </td>
								<td> <%= @users.find(request.user_id).email %> </td>
								<td> <%= book.availableBooks %>/<%= book.totalBooks %> </td>
								<td> <%= request.status %> </td>
								<td>
									<% if request.status == "Pending" %>
										<%= link_to "Approve", approve_return_request_path(request) %>
										/
										<%= link_to "Reject", reject_return_request_path(request) %>
									<% else %>
										No Action 
									<% end %>
								</td>
							</tr>
						<% end %>
					</table>
				<% end %>
				
			</div>

		</center>


	</div>


	<br><br><br><br><br><br><br><br><br>

</div>
