<div class="fullPage" >
	<div class="header" >
		<%= link_to image_tag('/assets/bookLogo.jpg'), '/librarians/index' , :class=>'logo' %>

		<center>
			<h1 > LIBRARY MANAGEMENT SYSTEM</h1>
			<p> A platform to search your favorite book </p>
		</center>
		<div class="tab">
			<div class="contents">
				Welcome, <%= current_admin.name %> <font color="black">(<%= current_admin.role.upcase %>)</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


				<%= link_to 'LogOut', destroy_user_session_path, method: :delete %>
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>

		</div>

	</div>

	<div class="librarianContainer" >
		<center>
			<div class="librarianBookEditBox">
				<%= form_for @book do |f| %>
					<table class="librarianBookEditTable">
						<tr>
							<td> <%= f.label :title %> </td>
							<td> <%= f.text_field :title %>
						</tr>
						<tr>
							<td> <%= f.label :author %> </td>
							<td> <%= f.text_field :author %> </td>
						</tr>
						<tr>
							<td> <%= f.label :publisher %> </td>
							<td> <%= f.text_field :publisher %> </td>
						</tr>
						<tr>
							<td> <%= f.label :language %> </td>
							<td> <%= f.text_field :language %> </td>
						</tr>
						<tr>
							<td> <%= f.label :description %> </td>
							<td> <%= f.text_area :description %> </td>
						</tr>
						<tr>
							<td> <%= f.label :image_path %> </td>
							<td> <%= f.text_field :image %> </td>
						</tr>
					</table>

					<%= f.submit "Save Changes", class: 'librarianBookEditButton' %>

				<% end %>
			</div>

		</center>
	</div>


	<br><br><br><br><br><br><br><br><br>

	<div class="footer">
		Visit Soon
	</div>
</div>
